In [1]:
import pandas as pd
import numpy as np

In [2]:
def print_string(str):
    print(str)
    print('*--------------------*')

In [3]:
data = pd.read_csv('kc_house_data.csv')

print_string(data.head(10))

print_string(data.tail(10))

print_string(data.columns)

print_string(data.shape)

           id             date      price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000   221900.0         3       1.00         1180
1  6414100192  20141209T000000   538000.0         3       2.25         2570
2  5631500400  20150225T000000   180000.0         2       1.00          770
3  2487200875  20141209T000000   604000.0         4       3.00         1960
4  1954400510  20150218T000000   510000.0         3       2.00         1680
5  7237550310  20140512T000000  1225000.0         4       4.50         5420
6  1321400060  20140627T000000   257500.0         3       2.25         1715
7  2008000270  20150115T000000   291850.0         3       1.50         1060
8  2414600126  20150415T000000   229500.0         3       1.00         1780
9  3793500160  20150312T000000   323000.0         3       2.50         1890

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0
5    101930     1.0           0     0  ...     11        3890           1530
6      6819     2.0           0     0  ...      7        1715              0
7      9711     1.0           0     0  ...      7        1060              0
8      7470     1.0           0     0  ...      7        1050            730
9      6560     2.0           0     0  ...      7        1890              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800
5      2001             0    98053  47.6561 -122.005           4760
6      1995             0    98003  47.3097 -122.327           2238
7      1963             0    98198  47.4095 -122.315           1650
8      1960             0    98146  47.5123 -122.337           1780
9      2003             0    98038  47.3684 -122.031           2390

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503
5      101930
6        6819
7        9711
8        8113
9        7570

[10 rows x 21 columns]
*--------------------*
               id             date      price  bedrooms  bathrooms  \
21603  7852140040  20140825T000000   507250.0         3       2.50
21604  9834201367  20150126T000000   429000.0         3       2.00
21605  3448900210  20141014T000000   610685.0         4       2.50
21606  7936000429  20150326T000000  1007500.0         4       3.50
21607  2997800021  20150219T000000   475000.0         3       2.50
21608   263000018  20140521T000000   360000.0         3       2.50
21609  6600060120  20150223T000000   400000.0         4       2.50
21610  1523300141  20140623T000000   402101.0         2       0.75
21611   291310100  20150116T000000   400000.0         3       2.50
21612  1523300157  20141015T000000   325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
21603         2270      5536     2.0           0     0  ...      8
21604         1490      1126     3.0           0     0  ...      8
21605         2520      6023     2.0           0     0  ...      9
21606         3510      7200     2.0           0     0  ...      9
21607         1310      1294     2.0           0     0  ...      8
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21610         1020      1350     2.0           0     0  ...      7
21611         1600      2388     2.0           0     0  ...      8
21612         1020      1076     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
21603        2270              0      2003             0    98065  47.5389
21604        1490              0      2014             0    98144  47.5699
21605        2520              0      2014             0    98056  47.5137
21606        2600            910      2009             0    98136  47.5537
21607        1180            130      2008             0    98116  47.5773
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21610        1020              0      2009             0    98144  47.5944
21611        1600              0      2004             0    98027  47.5345
21612        1020              0      2008             0    98144  47.5941

          long  sqft_living15  sqft_lot15
21603 -121.881           2270        5731
21604 -122.288           1400        1230
21605 -122.167           2520        6023
21606 -122.398           2050        6200
21607 -122.409           1330        1265
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21610 -122.299           1020        2007
21611 -122.069           1410        1287
21612 -122.299           1020        1357

[10 rows x 21 columns]
*--------------------*
Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')
*--------------------*
(21613, 21)
*--------------------*

In [4]:
# Observe top 10 observations (int)

# Q1.1 What is the price of a house with `id` == 7237550310?
# Q1.3 When was the house with `id` == 2414600126 built (`yr_built`)?

print_string(data[data['id'] == 7237550310]['price'])

print_string(data[data['id'] == 2414600126]['yr_built'])

5    1225000.0
Name: price, dtype: float64
*--------------------*
8    1960
Name: yr_built, dtype: int64
*--------------------*

In [5]:
# Observe last 10 observations (int)

# Q2.2 How many bedrooms has a house with `id` == 291310100?
# Q2.4 How many floors house with `id` == 2997800021 has?

print_string(data[data['id'] == 291310100]['bedrooms'])

print_string(data[data['id'] == 2997800021]['floors'])

21611    3
Name: bedrooms, dtype: int64
*--------------------*
21607    2.0
Name: floors, dtype: float64
*--------------------*

In [6]:
pd.options.display.max_columns = 30

print_string(data.head(10))

           id             date      price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000   221900.0         3       1.00         1180
1  6414100192  20141209T000000   538000.0         3       2.25         2570
2  5631500400  20150225T000000   180000.0         2       1.00          770
3  2487200875  20141209T000000   604000.0         4       3.00         1960
4  1954400510  20150218T000000   510000.0         3       2.00         1680
5  7237550310  20140512T000000  1225000.0         4       4.50         5420
6  1321400060  20140627T000000   257500.0         3       2.25         1715
7  2008000270  20150115T000000   291850.0         3       1.50         1060
8  2414600126  20150415T000000   229500.0         3       1.00         1780
9  3793500160  20150312T000000   323000.0         3       2.50         1890

   sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
0      5650     1.0           0     0          3      7        1180
1      7242     2.0           0     0          3      7        2170
2     10000     1.0           0     0          3      6         770
3      5000     1.0           0     0          5      7        1050
4      8080     1.0           0     0          3      8        1680
5    101930     1.0           0     0          3     11        3890
6      6819     2.0           0     0          3      7        1715
7      9711     1.0           0     0          3      7        1060
8      7470     1.0           0     0          3      7        1050
9      6560     2.0           0     0          3      7        1890

   sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
0              0      1955             0    98178  47.5112 -122.257
1            400      1951          1991    98125  47.7210 -122.319
2              0      1933             0    98028  47.7379 -122.233
3            910      1965             0    98136  47.5208 -122.393
4              0      1987             0    98074  47.6168 -122.045
5           1530      2001             0    98053  47.6561 -122.005
6              0      1995             0    98003  47.3097 -122.327
7              0      1963             0    98198  47.4095 -122.315
8            730      1960             0    98146  47.5123 -122.337
9              0      2003             0    98038  47.3684 -122.031

   sqft_living15  sqft_lot15
0           1340        5650
1           1690        7639
2           2720        8062
3           1360        5000
4           1800        7503
5           4760      101930
6           2238        6819
7           1650        9711
8           1780        8113
9           2390        7570
*--------------------*

In [7]:
# Print all the columns/features names (int)

# Q3.1 How many columns have `yr_` prefix?
# Q3.4 How many columns have `rooms` in their names?

yr_count = 0
for name in data.columns:
    if 'yr_' in name:
        yr_count += 1
print_string(yr_count)

rooms_count = 0
for name in data.columns:
    if 'rooms' in name:
        rooms_count += 1
print_string(rooms_count)

2
*--------------------*
2
*--------------------*

In [8]:
# Print data size (int)

# Q4.1 How many observations are in the data?
# Q4.2 How many features are in the data?

print_string(data.shape[0])

print_string(data.shape[1])

21613
*--------------------*
21
*--------------------*

In [9]:
# Display number of not NaN's in every column (int)

# Q5.2 How many NA values are in the `grade` column?
# Q5.3 How many NA values are in the `bedrooms` column?

print_string(data['grade'].isna().sum())

print_string(data.shape[0] - data['bedrooms'].count())

for name in data.columns:
    print_string(data[name].isna().sum())

0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*
0
*--------------------*

In [10]:
# Count number of unique values in every column (int)

# Q6.2 How many unique values are in the `grade` column?
# Q6.3 How many unique values are in the `yr_renovated` column?

print_string(data['grade'].nunique())

print_string(data['yr_renovated'].nunique())

12
*--------------------*
70
*--------------------*

In [11]:
# Count frequency of the values in different columns (list of ints in !!!descending!!! order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`

# Q7.2 For every unique `condition` value give its number of occurences.
# Q7.3 For every unique `bedrooms` value give its number of occurences.

occ_str = ''
occ = data['grade'].value_counts()
for s in occ:
    occ_str += str(s) + ','

print_string(occ)
print_string(occ_str)

occ_str = ''
occ = data['bedrooms'].value_counts()
for s in occ:
    occ_str += str(s) + ','

print_string(occ)
print_string(occ_str)

7     8981
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: grade, dtype: int64
*--------------------*
8981,6068,2615,2038,1134,399,242,90,29,13,3,1,
*--------------------*
3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
8       13
0       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64
*--------------------*
9824,6882,2760,1601,272,199,38,13,13,6,3,1,1,
*--------------------*

In [12]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [13]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q8.3 What are the max, min, mean and the std of the `sqft_living` column?
# Q8.4 What are the max, min, mean and the std of the `pRice` column?

des = data['sqft_living']
res = [des.max().round(3), des.min().round(3), des.mean().round(3), des.std().round(3)]
des_str = ''
for r in sorted(res, reverse=True):
    des_str += str(r) + ','
print_string(des_str)


des = data['price']
res = [des.max().round(3), des.min().round(3), des.mean().round(3), des.std().round(3)]
des_str = ''
for r in sorted(res, reverse=True):
    des_str += str(r) + ','
print_string(des_str)

13540,2079.9,918.441,290,
*--------------------*
7700000.0,540088.142,367127.196,75000.0,
*--------------------*

In [14]:
# Display data types of all columns (int)

# Q9.2 How many columns have `int64` data type?
# Q9.5 What are the columns with dtype == `int64`?

print_string((data.dtypes == 'int64').sum())

col = data.columns[(data.dtypes == 'int64')].sort_values()
col_string = ''
for c in col:
    col_string += c + ','
print_string(col_string)

15
*--------------------*
bedrooms,condition,grade,id,sqft_above,sqft_basement,sqft_living,sqft_living15,sqft_lot,sqft_lot15,view,waterfront,yr_built,yr_renovated,zipcode,
*--------------------*

In [15]:
data.index = data.id
data.drop('id', axis=1, inplace=True)
data.sort_index(inplace=True)

In [16]:
# Select rows by position (int)

# Q10.1 How many bedrooms have a house on row 777?
# Q10.5 What is the grade of a house on row 2718?

print_string(data.iloc[777]['bedrooms'])

print_string(data.iloc[2718]['grade'])

3
*--------------------*
7
*--------------------*

In [17]:
# Select rows by index (int)

# Q11.1 How many times the house with index 1000102 were sold?
# Q11.2 What is the price of the house with index 9842300095?

print_string(data.loc[1000102].shape[0])

print_string(data.loc[9842300095]['price'])

2
*--------------------*
365000.0
*--------------------*

In [18]:
# Using mask or .query syntax select rows/columns (int)

# Q12.3 How many houses are with the highest possible grade?
# Q12.5 How many houses were sold for 256000 dollars?

print_string(data[data['grade'] == data["grade"].max()].shape[0])

print_string(data[data['price'] == 256000].shape[0])

13
*--------------------*
8
*--------------------*

In [19]:
# Using mask or .query syntax select rows/columns (int)

# Q13.1 How many houses with the waterfront (=1) were built during Nixon's presidency (1969—1974)? Including both start and end year.
# Q13.2 How many houses, built before first human in space (<1961), have high condition (=5)?

print_string(data[(data['waterfront'] == 1) & (data['yr_built'] >= 1969) & (data['yr_built'] <= 1974)].shape[0])

print_string(data[(data['condition'] == 5) & (data['yr_built'] < 1961)].shape[0])

6
*--------------------*
1153
*--------------------*

In [20]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q14.4 What is the median number of bathrooms in houses with grade above 9 (10 and more)?
# Q14.5 What is the median grade of houses with most popular zipcode value?

print_string(data[data['grade'] > 9]['bathrooms'].median())

print_string(data[data['zipcode'] == data['zipcode'].value_counts().index[0]]['grade'].median())

3.25
*--------------------*
7.0
*--------------------*

In [21]:
# Create `was_renovated` column. Bool column (0, 1) indicating whether the house was renovated.

data['was_renovated'] = data['yr_renovated'] > 0
print(data['was_renovated'])

id
1000102       False
1000102       False
1200019       False
1200021       False
2800031       False
              ...
9842300095    False
9842300485    False
9842300540    False
9895000040    False
9900000190    False
Name: was_renovated, Length: 21613, dtype: bool

In [22]:
# Create new columns using the old ones (new column in your DataFrame)

# Q15.1 Create a `sqft_tot_area` column (sum of all columns with `sqft_` prefix) using any method above
# Q15.2 Create a new column `sqm_tot_area` using `sqft_tot_area` and the fact that 1 foot = 0.3048 meters
# Q15.3 Create a new column `sqm_aver_floor_area` by dividing total area (in meters) by number of floors
# Q15.4 Create a new column `price_cat` by splitting a `price` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
# Q15.5 Create a new bool column `high_class` it is True if the house has grade >= 9 and condition >= 4

data['sqft_tot_area'] = data['sqft_living'] + data['sqft_above'] + data['sqft_basement'] + data['sqft_living15'] + data['sqft_lot'] + data['sqft_lot15']
print_string(data['sqft_tot_area'])


sft = 0.3048 ** 2
data['sqm_tot_area'] = data['sqft_tot_area'] * sft
print_string(data['sqm_tot_area'])


data['sqm_aver_floor_area'] = data['sqm_tot_area'] / data['floors']
print_string(data['sqm_aver_floor_area'])


quant = data['price'].quantile([.2, .4, .6, .8, 1])
def trans(x):
    for i, q in enumerate(quant):
        if x < q:
            return i + 1
data['price_cat'] = data['price'].apply(trans)
print(data['price_cat'])


data['high_class'] = (data['grade'] >= 9) & (data['condition'] >= 4)
print(data['high_class'])

id
1000102       23549
1000102       23549
1200019       54637
1200021       68193
2800031       22069
              ...
9842300095    12726
9842300485    16532
9842300540    12376
9895000040     6453
9900000190    19840
Name: sqft_tot_area, Length: 21613, dtype: int64
*--------------------*
id
1000102       2187.773689
1000102       2187.773689
1200019       5075.943396
1200021       6335.337007
2800031       2050.277190
                 ...
9842300095    1182.284087
9842300485    1535.873057
9842300540    1149.768023
9895000040     599.503317
9900000190    1843.196314
Name: sqm_tot_area, Length: 21613, dtype: float64
*--------------------*
id
1000102       1093.886844
1000102       1093.886844
1200019       5075.943396
1200021       6335.337007
2800031       1366.851460
                 ...
9842300095     788.189391
9842300485    1535.873057
9842300540    1149.768023
9895000040     399.668878
9900000190    1843.196314
Name: sqm_aver_floor_area, Length: 21613, dtype: float64
*--------------------*
id
1000102       2.0
1000102       1.0
1200019       4.0
1200021       3.0
2800031       1.0
             ...
9842300095    2.0
9842300485    2.0
9842300540    2.0
9895000040    3.0
9900000190    1.0
Name: price_cat, Length: 21613, dtype: float64
id
1000102       False
1000102       False
1200019       False
1200021       False
2800031       False
              ...
9842300095    False
9842300485    False
9842300540    False
9895000040    False
9900000190    False
Name: high_class, Length: 21613, dtype: bool

In [23]:
# Using mask or .query syntax select rows/columns (float)

# Q16.3 What is the maximal number of floors amongst houses with the lowest price category?
# Q16.4 What is the most frequent zipcode amongst houses with the lowest price category?

print_string(data[data['price_cat'] == 1]['floors'].max())
print_string(data[data['price_cat'] == 1]['zipcode'].value_counts().index[0])

3.0
*--------------------*
98023
*--------------------*

In [24]:
# Create new columns based on `date` column

# Q17.1 Convert date to datetime format
# Q17.2 Extract and store `year`
# Q17.3 Extract and store `month`
# Q17.4 Extract and store `day`
# Q17.5 Extract and store `weekday`
# Q17.6 Create a new column `house_age_10` - the age of the house in full decades (e.g. 9 year old house - 0, 21 year old house - 2),
# using `yr_built` and 'year' columns

data['date'] = pd.to_datetime(data['date'])
print_string(data['date'])

data['year'] = data['date'].dt.year
print_string(data['year'])

data['month'] = data['date'].dt.month
print_string(data['month'])

data['day'] = data['date'].dt.day
print_string(data['day'])

data['weekday'] = ((data['date'].dt.weekday + 1) % 7)
print_string(data['weekday'])
# monday = 0, sunday = 6 - wrong...
# sunday = 0, ???

data['house_age_10'] = (data['year'] - data['yr_built']) // 10
print_string(data['house_age_10'])

id
1000102      2015-04-22
1000102      2014-09-16
1200019      2014-05-08
1200021      2014-08-11
2800031      2015-04-01
                ...
9842300095   2014-07-25
9842300485   2015-03-11
9842300540   2014-06-24
9895000040   2014-07-03
9900000190   2014-10-30
Name: date, Length: 21613, dtype: datetime64[ns]
*--------------------*
id
1000102       2015
1000102       2014
1200019       2014
1200021       2014
2800031       2015
              ...
9842300095    2014
9842300485    2015
9842300540    2014
9895000040    2014
9900000190    2014
Name: year, Length: 21613, dtype: int64
*--------------------*
id
1000102        4
1000102        9
1200019        5
1200021        8
2800031        4
              ..
9842300095     7
9842300485     3
9842300540     6
9895000040     7
9900000190    10
Name: month, Length: 21613, dtype: int64
*--------------------*
id
1000102       22
1000102       16
1200019        8
1200021       11
2800031        1
              ..
9842300095    25
9842300485    11
9842300540    24
9895000040     3
9900000190    30
Name: day, Length: 21613, dtype: int64
*--------------------*
id
1000102       3
1000102       2
1200019       4
1200021       1
2800031       3
             ..
9842300095    5
9842300485    3
9842300540    2
9895000040    4
9900000190    4
Name: weekday, Length: 21613, dtype: int64
*--------------------*
id
1000102       2
1000102       2
1200019       6
1200021       6
2800031       8
             ..
9842300095    8
9842300485    7
9842300540    7
9895000040    0
9900000190    7
Name: house_age_10, Length: 21613, dtype: int64
*--------------------*

In [25]:
import datetime
datetime.date(2020, 9, 14).weekday()

0

In [26]:
data.drop('date', axis=1, inplace=True)

In [27]:
# Find some date related information from the data (int)

# Q18.1 What is the most popular selling weekday?
# Q18.3 What is the least popular selling weekday?

freq = data['weekday'].value_counts()

print_string(freq)

print_string(freq.index[0])

print_string(freq.index[freq.size - 1])

2    4715
3    4603
1    4099
4    3994
5    3685
6     287
0     230
Name: weekday, dtype: int64
*--------------------*
2
*--------------------*
0
*--------------------*

In [28]:
# Create some groupby features

# Q19.1 `price_by_class` groupby `high_class` and compute median `price`.
# Q19.5 `floors_by_age` groupby `floors` and compute average age of a house.

gp = data.groupby('high_class')['price'].median()
data['price_by_class'] = data['high_class'].map(gp)
print_string(data['price_by_class'])


gp = data.groupby(data.index)['year'].min()
data['yr_first'] = data.index.map(gp)
print(data['yr_first'])

data['age'] = data['yr_first'] - data['yr_built']
gp = data.groupby('floors')['age'].mean()
data['floors_by_age'] = data['floors'].map(gp)
print_string(data['floors_by_age'])


data.drop('age', axis=1, inplace=True)
data.drop('yr_first', axis=1, inplace=True)

id
1000102       440000.0
1000102       440000.0
1200019       440000.0
1200021       440000.0
2800031       440000.0
                ...
9842300095    440000.0
9842300485    440000.0
9842300540    440000.0
9895000040    440000.0
9900000190    440000.0
Name: price_by_class, Length: 21613, dtype: float64
*--------------------*
id
1000102       2014
1000102       2014
1200019       2014
1200021       2014
2800031       2015
              ...
9842300095    2014
9842300485    2015
9842300540    2014
9895000040    2014
9900000190    2014
Name: yr_first, Length: 21613, dtype: int64
id
1000102       23.588157
1000102       23.588157
1200019       53.925281
1200021       53.925281
2800031       79.194764
                ...
9842300095    79.194764
9842300485    53.925281
9842300540    53.925281
9895000040    79.194764
9900000190    53.925281
Name: floors_by_age, Length: 21613, dtype: float64
*--------------------*

In [29]:
# Create some other groupby features
# for this task check out this answer:
# https://stackoverflow.com/questions/47913343/how-to-groupby-and-map-by-two-columns-pandas-dataframe

# Q20.1 `n_houses_zipcode` groupby `zipcode` and count number of occurences of every unique zipcode
# Q20.2 `n_houses_yr_built` groupby `yr_built` and count number of houses built in each year

gp = data.groupby('zipcode')['zipcode'].count()
data['n_houses_zipcode'] = data['zipcode'].map(gp)
print_string(data['n_houses_zipcode'])


gp = data.groupby('yr_built')['yr_built'].count()
data['n_houses_yr_built'] = data['yr_built'].map(gp)
print_string(data['n_houses_yr_built'])

id
1000102       199
1000102       199
1200019       254
1200021       254
2800031       269
             ...
9842300095    354
9842300485    354
9842300540    354
9895000040    412
9900000190    254
Name: n_houses_zipcode, Length: 21613, dtype: int64
*--------------------*
id
1000102       224
1000102       224
1200019       263
1200021       220
2800031        90
             ...
9842300095    115
9842300485    106
9842300540    223
9895000040    130
9900000190    170
Name: n_houses_yr_built, Length: 21613, dtype: int64
*--------------------*

In [30]:
tmp = data.reset_index().drop_duplicates(subset=['id'])
gp = tmp.groupby('yr_built')['yr_built'].count()
data['n_houses_yr_built_tmp'] = data['yr_built'].map(gp)
print_string(data['n_houses_yr_built_tmp'])

id
1000102       223
1000102       223
1200019       261
1200021       219
2800031        90
             ...
9842300095    115
9842300485    103
9842300540    221
9895000040    130
9900000190    165
Name: n_houses_yr_built_tmp, Length: 21613, dtype: int64
*--------------------*

In [31]:
# Q21 Drop all generated features which used price column, e.g. price_by_year, price_cat.

print_string(data.columns)
for name in data.columns:
    if 'price_' in name:
        data.drop(name, axis=1, inplace=True)

print_string(data.columns)

data.drop('n_houses_yr_built_tmp', axis=1, inplace=True)

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'was_renovated', 'sqft_tot_area',
       'sqm_tot_area', 'sqm_aver_floor_area', 'price_cat', 'high_class',
       'year', 'month', 'day', 'weekday', 'house_age_10', 'price_by_class',
       'floors_by_age', 'n_houses_zipcode', 'n_houses_yr_built',
       'n_houses_yr_built_tmp'],
      dtype='object')
*--------------------*
Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15', 'was_renovated', 'sqft_tot_area',
       'sqm_tot_area', 'sqm_aver_floor_area', 'high_class', 'year', 'month',
       'day', 'weekday', 'house_age_10', 'floors_by_age', 'n_houses_zipcode',
       'n_houses_yr_built', 'n_houses_yr_built_tmp'],
      dtype='object')
*--------------------*

In [32]:
# Q22 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.train_test_split with test_size=0.33 and random_state=7
from sklearn.model_selection import train_test_split

X = data.drop('price', axis=1)
Y = data.price

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=7)

rec = sorted([Y_train.shape[0], Y_test.shape[0]], reverse=True)
print_string(f'{rec[0]},{rec[1]}')

14480,7133
*--------------------*

In [33]:
# Create a predictive regression model of a house price.

# Q23.1 Use linear regression with l2 regularization (Ridge regression)
# Q23.3 Use k nearest neighbours !!!regression!!!

from sklearn.linear_model import Ridge

ridge = Ridge()
ridge.fit(X_train, Y_train);


from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor()
knn.fit(X_train, Y_train);

In [34]:
# Use grid search to select optimal hyperparamters of your models.

# Q24.1 Alpha for a ridge regression
# Q24.3 Number of neighbours for the knn

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold


cv = KFold(n_splits=5, shuffle=True, random_state=7)
clf = Ridge()
grid = {
    'alpha':np.linspace(-6, 3)
}

gs_lin_reg = GridSearchCV(clf, param_grid=grid, cv=cv)
gs_lin_reg.fit(X_train, Y_train);
print_string(gs_lin_reg.best_estimator_)


cv = KFold(n_splits=5, shuffle=True, random_state=7)
pipe = KNeighborsRegressor()
grid = {
    'n_neighbors':range(3,15,2)
}
gs_knn = GridSearchCV(pipe, param_grid=grid)
gs_knn.fit(X_train, Y_train);
print_string(gs_knn.best_estimator_)

Ridge(alpha=0.06122448979591866, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)
*--------------------*
KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')
*--------------------*

In [35]:
# Compute train and test mean squared error for your best models (list of float).

# Q25.1 Train, test MSE using linear regression with l2 regularization
# Q25.3 Train, test MSE using k nearest neighbours regression

from sklearn.metrics import mean_squared_error as mse


Y_pred_train = gs_lin_reg.predict(X_train)
mse_pred_train = mse(Y_train, Y_pred_train)
Y_pred_test = gs_lin_reg.predict(X_test)
mse_pred_test = mse(Y_test, Y_pred_test)
mse_ar = sorted([mse_pred_test.round(3), mse_pred_train.round(3)], reverse=True)
print_string(f'{mse_ar[0]},{mse_ar[1]}')


Y_pred_train = gs_knn.predict(X_train)
mse_pred_train = mse(Y_train, Y_pred_train)
Y_pred_test = gs_knn.predict(X_test)
mse_pred_test = mse(Y_test, Y_pred_test)
mse_ar = sorted([mse_pred_test.round(3), mse_pred_train.round(3)], reverse=True)
print_string(f'{mse_ar[0]},{mse_ar[1]}')

41800329459.555,34721433244.823
*--------------------*
62200167321.026,43081449140.223
*--------------------*

In [36]:
# Compute train and test R^2 for your best models (list of float).

# Q26.1 Train, test R^2 using linear regression with l2 regularization
# Q26.3 Train, test R^2 using k nearest neighbours regression

from sklearn.metrics import r2_score as r2


Y_pred_train = gs_lin_reg.predict(X_train)
r2_pred_train = r2(Y_train, Y_pred_train)
Y_pred_test = gs_lin_reg.predict(X_test)
r2_pred_test = r2(Y_test, Y_pred_test)
r2_ar = sorted([r2_pred_test.round(3), r2_pred_train.round(3)], reverse=True)
print_string(f'{r2_ar[0]},{r2_ar[1]}')


Y_pred_train = gs_knn.predict(X_train)
r2_pred_train = r2(Y_train, Y_pred_train)
Y_pred_test = gs_knn.predict(X_test)
r2_pred_test = r2(Y_test, Y_pred_test)
r2_ar = sorted([r2_pred_test.round(3), r2_pred_train.round(3)], reverse=True)
print_string(f'{r2_ar[0]},{r2_ar[1]}')

0.713,0.705
*--------------------*
0.696,0.486
*--------------------*

In [37]:
# Q27 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).

weights = np.abs(gs_lin_reg.best_estimator_.coef_)
feature_weights = sorted(dict(sorted(dict(zip(weights, X.columns)).items(), reverse=True)[:5]).values())

features = ''
for feature in feature_weights:
    features += feature + ','
print_string(features)

high_class,lat,long,was_renovated,waterfront,
*--------------------*